<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="wellzio_Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.patient_Role_Tests.Patient_Login_Page_Test"/>
      <class name="com.patient_Role_Tests.Mychartpagetest"/>
      <class name="com.patient_Role_Tests.Econsult_Page_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->